name: CI

on:
  push:
    tags:
      - '*'
    branches:
      - '*'
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
        node-version: [24.x]
        deno-version: [1.46.3]
    environment: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout NATS.ws
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Use Deno Version ${{ matrix.deno-version }}
        uses: denoland/setup-deno@v1
        with:
          deno-version: ${{ matrix.deno-version }}
      - name: Install nats-server
        uses: aricart/install-binary@v1.0.0
        with:
          repo: nats-io/nats-server
          name: nats-server
          cache: true
      - name: Set CA
        run: echo "NODE_EXTRA_CA_CERTS=/home/runner/work/nats.ws/nats.ws/test/certs/ca.crt" >> $GITHUB_ENV
      - name: Setup NPM
        run: npm ci
      - name: Build Library
        run: npm run build
      - name: Run Tests
        env:
          CI: true
          WS_NGS_CI_USER: ${{ secrets.WS_NGS_CI_USER }}
        run: npm test

#      - name: Gather coverage
#        if: matrix.node-version == '15.x'
#        run: npm run coveralls
#      - name: Upload coverage
#        uses: coverallsapp/github-action@v1.1.2
#        if: matrix.node-version == '15.x'
#        with:
#          github-token: ${{ secrets.github_token }}
#          path-to-lcov: ./coverage/lcov.info
